*{
    margin: 0;
    padding: 0;
    font-family: 'Railway', sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 35px 22px;
    justify-content: space-between;
}

.logo{
    width: 80px;
}
.logo img{
    height: 50px;
    width: 100px;
}
/* to change the pointer of the logo */
.logo img:hover{
    cursor: pointer;

}

.navlinks{
    display: flex;
    gap: 40px;
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navlinks a:hover{
    color: blue;
}
.findaplacesection{
    padding: 17px 22px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.findaplacesection h4{
    font-size: 20px;
}
form{
    display: flex;
    padding-left: 22px;
}
form .location{
    height: 50px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1eded;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
form .location i{
    font-size: 25px;
}
form .searchinputs{
   height: 48px;
   width: 350px;
   display: flex; 
}
form .searchinputs input{
    outline: none;
    border: 1px #F2F2F2 solid;

}
form .searchinputs #searchonly{
    height: 100%;
    width: 100%;
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
}
form .searchinputs #searchbtn{
    height: 50px;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
/* filter section =================================================================================== */
.filters{
    display: flex;
    gap: 30px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 30px;
    /* align-items: center; */
}

.filters .btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.filters h5{
    font-weight: bold;
    font-size: 19px;
}
.filters .filterbtn{
    display: flex;
    gap: 20px;
    border: solid 2px #d9d0d0;
    align-items: center;
    /* justify-content: center; */
    border-radius: 26px;
    height: 37px;
    /* width: 160px; */
    padding-right: 16px;
}
.filters .filterbtn h6{
    font-size: 15px;
    font-weight: bold;
}
.filters .filtericon{
    background-color: #d6d6f2;
    border-radius: 26px;
    height: 37px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -25%; */
}
.filters .filtericon i{
    font-size: 18px;
    color: #0065FC;
}
.information{
    padding-left: 22px;
    display: flex;
    gap: 25px;
    margin-top: 50px;
    /* justify-content: center; */
    align-items: center;
}
.information i{
    font-size: 25px;
}
.information p{
    color: rgb(96, 96, 96);
    font-size: 16px;
}
/* accomodation section */
#Accomodations{
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 25px;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}
.left-section{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding: 30px;
    gap: 30PX;
}
.left-section .row-1{
    display: flex;
    gap: 35px;
    /* border: 1px solid; */
}
.left-section .blocks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
    height: 270px;
    width: 250px;
}
.left-section .blocks img{
    width: 100%;
    height: 162px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
.left-section .blocks h4,
.left-section .blocks p,
.left-section .blocks .star-icons{
    margin-left: 7px;
}
.left-section .blocks p{
    color: rgb(96, 96, 96);
    font-size: 14px;
}
.left-section .blocks .star-icons i{
    color: #0065FC;
    font-size: 22px;
}
.left-section a{
    text-decoration: none;
    color: black;
}

/* css for the right section */
.right-section{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 13px;
}
.right-section .popular{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-section .block{
    display: flex;
    background-color: white;
    border-radius: 13px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 200px;
    padding: 4px;
    gap: 6px;
}
.right-section .block img{
    height: 100%;
    width: 130px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.right-section .contents{
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 6px;
}
.right-section .block p{
    font-size: 13px;
    color: rgb(96, 96, 96);
}
.right-section .block i{
    color: #0065FC;
    font-size: 22px;
}
.right-section .popular i{
    font-size: 22px;
}

/* Css for the Activities Section */
#Acticities{
    display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 22px;
   padding-right: 22px;
}
.row{
    display: flex;
    gap: 61px;
}
.row .old-port{
    display: flex;
    flex-direction: column;
    gap: 17px;
    border-radius: 13px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
    width: 280px;
    height: 500px;
    padding-bottom: 10px;
}
.row .old-port img{
    height: 450px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.row .old-port h4{
    margin-left: 11px;
}
.islands{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 280px;
    /* box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15); */
}
.islands .islands-1,
.islands .islands-2{
    display: flex;
    flex-direction: column;
    height: 235px;
    border-radius: 13px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
    gap: 20px;
}
.islands .islands-1 img,
.islands .islands-2 img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.islands .islands-1 h4,
.islands .islands-2 h4{
    margin-left: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color:  #F2F2F2;
    margin-top: 40px;
    padding: 50px 22px;
    gap: 20px;
    /* align-items: center; */

}
footer h2{
    margin-bottom: 30px;
}
footer .footer-Content p{
    margin-bottom: 6px;
}
footer .footer-Content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer .Copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .Copy-right i{
    font-size: 25px;
    color: #0065FC;
}

@media(max-width: 1338px) {
    .left-section .blocks{
        width: 235px;
    }

}
@media(max-width: 1297px){
    .right-section .block{
        width: 290px;
    }
}
@media(max-width: 1284px){
    .left-section .blocks{
        width: 232px;
    }
    .right-section .block{
        width: 282px;
    }
    .row{
        gap: 50px;
    }
}
@media(max-width: 1257px){
    .left-section .blocks{
        width: 228px;
    }
    .right-section{
        width: 100%;
    }
    .right-section .block{
        width: 98%;
    }
    .right-section .block img{
        width: 52%;
        object-fit: cover;
    }
}

@media(max-width: 1244px){
    #Accomodations{
        flex-direction: column-reverse;
    }
    .right-section{
        width: 95%;
        /* flex-direction: row; */
    }
    .left-section{
        width: 95%;
    }
    /* .right-section .popular{
        flex-direction: column;
    } */
    .left-section .blocks{
        width: 380px;
    }
    .right-section .blocks{
        width: 100%;
    }
    .row .old-port{
        width: 264px;
    }
}
/* @media(max-width: 1170px){
    .right-section .popular h1{
        font-size: 18px;
    }
} */
@media(max-width: 1059px){
    .right-section .block i{
        font-size: 18px;
    }
    .row{
        gap: 18px;
    }
}
@media(max-width: 1040px){
    .row{
        flex-direction: column;
    }
    .row .old-port{
        width: 100%;
    }
    .row .old-port img{
        object-fit: cover;
    }
    .islands{
        width: 100%;
    }
    .islands .islands-1, .islands .islands-2{
        height: 300px;
    }
    .islands .islands-1 img, .islands .islands-2 img{
        height: 240px;
        object-fit: cover;
    }
}

@media(max-width: 996px)
{
    .filters .btns {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 754px)
{
    .filters .btns {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 886px)
{
    .right-section,
    .left-section{
        width: 93%;
    }
}

@media(max-width: 711px)
{
    .left-section .row-1{
        flex-direction: column;
    }
    .left-section .blocks{
        width: 100%;
        height: 300px;
    }
    .left-section .blocks img{
        height: 198px;
        object-fit: cover;
    }
}
@media(max-width: 657px){
    header{
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
      }
      .navlinks{
        border-bottom: 1px solid;
        padding-bottom: 23px;
        width: 100%;
        justify-content: space-between;
      }
      footer .footer-Content{
        flex-direction: column;
        gap: 31px;
      }
    }

    @media(max-width: 653px){
        .right-section,
    .left-section{
        width: 90%;
    }
        }
        @media(max-width: 641px){
            .filters .btns {
                grid-template-columns: repeat(1, 1fr);
            }
            }

            @media(max-width: 476px){
                .right-section,
            .left-section{
                width: 88%;
            }